
.student-list {
    width: 30%;
}

#student_rows>div:nth-of-type(even) {
    background-color: #CCC;
}

.btn-link {
    color: black;
    text-decoration: none !important;        
    border: none !important;
}

<<<<<<< HEAD
=======
.list-group-item {
    background-color: inherit;
    /* border: none;    */
}

/* uniforms */

.uniformInputBox{
    margin-top: 8%;
}

#colorBox{
    height: 100vh;
    background-color: aqua;
}

>>>>>>> 43415bb8094d1b8b1d8a8f07d8ac71d8fbb8411c
/* instruments */

button.orderType { 
    background:none;border:none; 
    cursor:pointer;
}
button.orderInstrument { 
    background:none;border:none; 
    cursor:pointer;
}
button.orderBrand { 
    background:none;border:none; 
    cursor:pointer;
}

.label-space {
    margin-top: 2em;
}

/* //media query  hide on small*/

@media only screen and (max-width: 768px) {
    #labels {
        display: none;
    }

    .noShow {
        display: none;
    }
    label, .label-space {
        margin-top: 1.5rem;
    }
}
